@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

h1, h2, h3 {
  font-weight: 400; 
}


@layer components{
  .card{
      @apply
          bg-white text-gray-700
          w-72 min-h-[10rem]
          shadow-lg rounded-md overflow-hidden
  }
  .badge{
      @apply
       px-3 py-1 rounded-full text-xs bg-gray-100
  }

  .product-title{
      @apply
      font-semibold text-2xl 
      overflow-ellipsis overflow-hidden whitespace-nowrap
  }

  .discount-percent{
      @apply
          bg-green-400
          px-1.5 py-0.5 rounded-md
          text-xs text-white
  }
  .button-primary{
      @apply
          bg-green-400/80 hover:bg-green-500/90
          px-6 py-2 rounded-md
          text-white font-medium
          tracking-wider transition
          
  }
  .button-icon{
      @apply
          flex-grow
          flex justify-center items-center
          bg-gray-300/60 hover:bg-gray-300/80
          transition rounded-md
  }
}